
/*公开课列表页*/
.gkk{ padding:15px 0px 25px 0px; height:265px; border-bottom:1px dotted #ccc; margin-bottom:30px;}

.gkk li{ display:block; float:left; width:214px; height:260px;background:#faf8f9; border:1px solid #e7e5e5;  padding:1px; margin-right:20px;}

.gkk_pic{ width:214px; height:181px;}
.gkk_pic img{ width:214px; height:181px;}
.gkk_intro{ height:71px;width:204px; padding:4px 5px;}
.gkk_name{ height:24px; line-height:24px;}
.gkk_zw{ height:20px; line-height:20px;margin-bottom:3px;margin-bottom:6px;}
.gkk_zw_l{ text-align:left;}
.gkk_zw_r{ text-align:right;}
.gkk_xm{ color:#3d9ccc; font-size:16px; margin-right:40px;   }
.gkk_xm a,.gkk_xm a:hover{color:#3d9ccc;}
.gkk_pl{ color:#ffa757; font-size:12px;}
.gkk_pl a,.gkk_pl a:hover{ color:#ffa757; font-size:12px;}
.gkk_pl span{ color:#818180;}
.gkk_zp{ height:20px; line-height:20px;font-size:14px;margin-bottom:5px;}
.gkk_rz{}
.gkk_rz span{ display:block; float:left; margin-right:8px;}

/*公开课*/
.ny_pxshi{padding:30px 0px;}
.ny_pxshi_l{ width:860px;border:1px solid #e1e1e1; background:#fff; padding:15px;}
.ny_pxshi_r{ width:260px;border:1px solid #e1e1e1; background:#fff; padding:15px;}

/*公开课基本信息*/
.pxshi_xx{ border-bottom:1px dotted #ccc; padding:20px 15px 40px 15px; margin-bottom:30px;}
.zhaopian{width:200px;}
.zhaopian img{border:1px solid #d9d9d9; padding:4px;}
.xinxi{ width:615px;}
.mingzi{}
.mingzi_l{ width:auto; color:#3d9ccc; font-size:24px; height:40px; line-height:40px;}
.mingzi_m{ width:260px; padding-top:15px;}
.mingzi_m span{ display:block; float:left; margin-right:8px;}

.mingzi_r{ width:210px;color:#ffa757;padding-top:5px;}
.pinglun{}
.pinglun span{ }
.dianzan{ background:url(http://obu3flkwk.bkt.clouddn.com/website/images/dz2.jpg) no-repeat left 7px; padding-top:5px; margin-left:15px; padding-left:20px;}
.guanzhu{}

.ziping{ height:30px; line-height:30px; font-weight:700;margin-bottom:5px;}
.scxs2{height:30px; line-height:30px; padding-top:10px; }
.scxs2 em, .lingyu em, .shijian_l em, .shijian_r em
{ float:left;font-style:normal;color:#000; font-weight:700;}

.scxs2 span{ display:block; float:left; padding:0px 15px; background:url(http://obu3flkwk.bkt.clouddn.com/website/images/line.jpg) no-repeat right center;}
.lingyu span{ display:block; float:left; padding:0px 15px; background:url(http://obu3flkwk.bkt.clouddn.com/website/images/line.jpg) no-repeat right center;}

.shijian{height:30px; line-height:30px; font-size:12px;  }
.shijian_l{ width:150px;}
.shijian_r{ width:380px; padding-right:60px;}


/*课程受众*//*课程大纲*//*工具模型*//*学员评价*/
.kcsz, .kcdg, .gjmx, .xueyuan_pj
{ border-bottom:1px dotted #ccc; padding:20px 15px 40px 15px; margin-bottom:30px;}

.pxshi_bt{ background:#f0f8fc; height:40px;   padding:0px 15px;}
.kcsz h4, .kcdg h4, .gjmx h4, .xueyuan_pj h4
{ display:block;height:40px; line-height:40px;  padding-left:40px; font-size:16px; color:#000; font-weight:100; }

.kcsz h4{ background:url(http://obu3flkwk.bkt.clouddn.com/website/images/jj_h4.jpg) no-repeat left center;}
.kcdg h4{ background:url(http://obu3flkwk.bkt.clouddn.com/website/images/kc_h4.jpg) no-repeat left center;}
.gjmx h4{ background:url(http://obu3flkwk.bkt.clouddn.com/website/images/wz_h4.jpg) no-repeat left center;}
.xueyuan_pj h4{ background:url(http://obu3flkwk.bkt.clouddn.com/website/images/pl_h4.jpg) no-repeat left center;}

.kcsz_box{ padding:20px 15px 0px 0px;line-height:30px; }
.kcdg_box{ padding:20px 15px 0px 15px; line-height:30px;}
.gjmx_box{ padding:20px 15px 0px 15px;line-height:30px;}
.xueyuan_pj_box{ padding:40px 15px 20px 15px;line-height:30px;}

/*培训师个人信息——右侧  联系方式*/
.pxshi_lx, .pxshi_pj{ margin-bottom:30px;}
.pxshi_lx h4{ display:block; height:40px; line-height:40px; background:url(http://obu3flkwk.bkt.clouddn.com/website/images/pxshi_lx.jpg) no-repeat left center; padding-left:45px; font-size:18px; color:#000; font-weight:100; border-bottom:1px solid #e1e1e1; margin-bottom:10px;}
.lx_box{line-height:24px;font-size:12px;}
.xingming{ font-weight:700;  height:30px; line-height:30px;}

/*培训师个人信息——右侧  学员评价*/
.pxshi_pj h4{ display:block; height:40px; line-height:40px; background:url(http://obu3flkwk.bkt.clouddn.com/website/images/pxshi_pj.jpg) no-repeat left center; padding-left:45px; font-size:18px; color:#000; font-weight:100; border-bottom:1px solid #e1e1e1; margin-bottom:10px;}
.pj_box{font-size:12px; padding:0px 10px;}
.pj_box li{ display:block; height:30px;line-height:30px; background:url(http://obu3flkwk.bkt.clouddn.com/website/images/icon2.jpg) no-repeat left center; padding-left:10px; border-bottom:1px dotted #ccc; margin-bottom:5px;}



