
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  /*font-size:16px;*/
  font-style:normal;
  padding-right: 5px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before { content: "\e697"; }

.icon-category:before { content: "\e699"; }

.icon-close:before { content: "\e69a"; }

.icon-comments:before { content: "\e69b"; }

.icon-cry:before { content: "\e69c"; }

.icon-delete:before { content: "\e69d"; }

.icon-edit:before { content: "\e69e"; }

.icon-email:before { content: "\e69f"; }

.icon-favorite:before { content: "\e6a0"; }

.icon-form:before { content: "\e6a2"; }

.icon-help:before { content: "\e6a3"; }

.icon-information:before { content: "\e6a4"; }

.icon-more:before { content: "\e6a7"; }

.icon-pic:before { content: "\e6a8"; }

.icon-refresh:before { content: "\e6aa"; }

.icon-search:before { content: "\e6ac"; }

.icon-selected:before { content: "\e6ad"; }

.icon-set:before { content: "\e6ae"; }

.icon-success:before { content: "\e6b1"; }

.icon-survey:before { content: "\e6b2"; }

.icon-training:before { content: "\e6b3"; }

.icon-warning:before { content: "\e6b6"; }

.icon-account:before { content: "\e6b8"; }

.icon-add:before { content: "\e6b9"; }

.icon-calendar:before { content: "\e6bf"; }

.icon-attachment:before { content: "\e6c0"; }

.icon-discount:before { content: "\e6c5"; }

.icon-service:before { content: "\e6c7"; }

.icon-bags:before { content: "\e6d1"; }

.icon-lights:before { content: "\e6de"; }

.icon-auto:before { content: "\e6e3"; }

.icon-trade-assurance:before { content: "\e6e5"; }

.icon-filter:before { content: "\e6f1"; }

.icon-link:before { content: "\e6f7"; }

.icon-imagetext:before { content: "\e6fb"; }

.icon-text:before { content: "\e6fc"; }

.icon-office:before { content: "\e705"; }

.icon-assessedbadge:before { content: "\e70a"; }

.icon-gerenzhongxin:before { content: "\e70b"; }

.icon-map:before { content: "\e715"; }

.icon-bad:before { content: "\e716"; }

.icon-good:before { content: "\e717"; }

.icon-skip:before { content: "\e718"; }

.icon-iconfontplay2:before { content: "\e719"; }

.icon-security:before { content: "\e71c"; }

.icon-bussinessman:before { content: "\e726"; }

.icon-mobilephone:before { content: "\e72a"; }

.icon-favoritesfilling:before { content: "\e730"; }

.icon-creditlevel:before { content: "\e735"; }

.icon-card012:before { content: "\e737"; }

.icon-save:before { content: "\e747"; }

.icon-libra:before { content: "\e74c"; }

.icon-bussinesscard:before { content: "\e753"; }

.icon-hot:before { content: "\e756"; }

.icon-data:before { content: "\e757"; }

.icon-onepage48:before { content: "\e75a"; }

