/* StyleName:培聘网*/
/* 2016/6/1 by WZM*/
/* 全局 */
html,body {height:100%; background:#f3f1f1;  }
body {font:14px "微软雅黑",Arial,sans-serif; color:#4c4c4c;margin:0px; background: none !important;}
form,menu,dir,fieldset,blockquote,p,pre,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6 { padding:0; margin:0;}
ul,ol,dl { list-style:none; }
a {color:#666666;;text-decoration: none !important;}
a:hover, img:hover {color:#666666;text-decoration:none; cursor: pointer;}
a img {border: none;}
.clear {clear: both;line-height: 0px;font-size:0px;}
.content {width:1200px;margin: 0 auto;  }
.left {float:left;}
.right {float:right;}
.bgblue {background: #3689b3;}
.bgred {background: #ff7d00;}
.mt10 {margin-top:10px;}
.mb0 {margin-bottom: 0px;}
.oh {height:100%;overflow: hidden;}
.ellipsis {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button#companyGarantee.guarantee{
    background-color: #3D9CCC;
    color: #fff;
}

button#companyGarantee{
    padding: 5px 10px;
    border: solid 1px #3D9CCC;
    background: #fff;
    color: #3D9CCC;
}

/*for Header*/
.top{ background:#313a41; height:50px;}
.logo{ width: 230px; height: 45px; line-height: 50px;}
.logo img { width: 100%; height: 100%;}
.nav_box{ width:665px;}

.nav li{ display:block; float:left; width:95px; height:50px;line-height:50px;font-size:14px; color:#cdcdcd; text-align:center;}
.nav li a{ display:block;color:#cdcdcd;width:95px; height:50px;}
.nav li a:hover{ display:block;width:95px; height:50px;color:#ffffff;font-weight:700;background:#3689b3;}
.nav li.cn a,.nav li.cn a:hover{ display:block;width:95px; font-weight:700;height:50px;color:#ffffff;background:#3689b3;}

.dl_tel{ width:170px;height:50px;line-height:50px; color:#fff; text-align:right;}
.dl_top{ width:120px; padding-left:0px;height:50px;line-height:50px;}
.dl_top li{ display:block; float:left; width:60px; text-align:center; background:url(../images/line.jpg) no-repeat left center; height:50px; line-height:50px; color:#a0a0a0; font-size:12px;}
.dl_top li a{color:#a0a0a0;}
.dl_top li a:hover{ color:#fff;}

/*banner*/
.banner{height:310px; padding-top:25px; background:url(../images/banner0.jpg) no-repeat center top; }

/*注册*/
.zc{ background:#fff; padding:20px;}
.zc_l{ width:850px; border-right:1px solid #e7e6eb;}


.links {width:820px;border:1px solid #ddd;}
.linksTop {height:45px;line-height:45px;border-bottom:1px solid #ddd;}
.linksTop li {display:inline;float:left;padding:0 20px;font-size:14px;cursor:pointer;}
.linksTop li.cn {background: #3689b3;color:#fff;}
.linksmain {height:100%;overflow:hidden; padding:50px 20px;}
.linksmain li {display:inline;float:left;width:158px;}

.zc_r{ padding-right:50px; height:30px; line-height:30px;}
.zc_r a,.zc_r a:hover{ color:#3689b3;}

.caozuo a,.caozuo a:hover{ color:#0d84d1;}
.sq a:hover{ color:#0d84d1;}
.quanxuan{ font-weight:700;}
.quanxuan a,.quanxuan a:hover{color:#3689b3;}

/*登录*/
.denglu{ background:#fff; padding:40px 190px;}

.dl_box{  margin-left:900px;width:260px; height:245px; padding:10px 20px 0px 20px; background:#383633;filter:alpha(opacity=80);   
      -moz-opacity:0.8;   
      -khtml-opacity: 0.8;   
      opacity: 0.8; color:#fff;   }
.dl_leibie{ height:30px; line-height:30px; margin-bottom:14px; border-bottom:1px dotted #f0f0f0;  text-align:left; font-weight:700; color:#fff;}

.name{ height:30px; line-height:30px; margin-bottom:12px; }
.name_l{ width:57px;  text-align:right;}
.name_r{ width:200px;}
.pwd{ height:30px; line-height:30px; margin-bottom:12px;}
.pwd_l{ width:57px;  text-align:right;}
.pwd_r{ width:200px;}
.leibie{ height:30px; width:260px; line-height:30px; margin-bottom:8px;}
.lp_l{ width:88px; }
.lp_m{ width:86px;}
.lp_r{ width:86px;}
.yanzheng{ height:20px; line-height:30px; margin-bottom:8px;}
.yanzheng_l{ width:57px;  text-align:right;}
.yanzheng_r{ width:200px;}
.wjpwd{height:20px; line-height:20px; text-align:right; padding-bottom:4px;  color:#fff;  }
.wjpwd a,.wjpwd a:hover{ color:#fff;}
.dl{ height:37px; line-height:37px;  padding-bottom:4px;  border-bottom:1px dotted #ccc;}

.lanmu{ padding:20px 30px 30px 30px;}
.lanmu li{ display:block; height:40px; font-size:16px; line-height:40px; border-bottom:1px dotted #e1e1e1; text-align: center; cursor: pointer;}
.lanmu li:hover, .lanmu .cn {background: #3689b3; color: #fff;}

.phonecode {
    display: inline-block;
    background: #ccc;
    color: #fff;
    width:120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}

#personal_loginform table tr:nth-child(n+2):nth-child(-n+6) td:nth-child(1),
#company_loginform table tr:nth-child(n+2):nth-child(-n+6) td:nth-child(1) {
    padding-left: 25px !important;
    text-align: left !important;
}

#personal_loginform button, #company_loginform button {
    padding:8px 20px;
}

/*main*/
.main{ padding:20px 0px; width:100%; }
.ny{padding:30px 15px; background:#fff;}

.dqwz{ height:30px; line-height:30px; padding:15px 0px; background:url(http://obu3flkwk.bkt.clouddn.com/website/images/home.jpg) no-repeat left center; padding-left:20px;}
.pxshi_gl{ background:#fff; padding:20px;overflow:auto;}
.pxshi_gl_l{ width:235px; border:1px solid #e1e1e1; }
.pxshi_gl_l h4{ display:block; height:40px; padding-top:1px; line-height:40px; background: #3689b3; text-align:center; font-size:20px; color:#fff; font-weight:100;}
.pxshi_gl_r{width:900px; border:1px solid #e1e1e1; padding:20px; font-size:12px; }

/*搜索*/
.sousuo_box{ border:1px solid #e3e3e3; background:#f9fbfb; padding:20px; height:100%; margin-bottom:25px;}

/*搜索框*/
.sou{ height:35px;/* line-height:35px;*/ margin-top:10px;}
.sou h4{ display:block; float:left; font-weight:100; width:65px; text-align:left;  padding-left:30px; color:#3689b3;font-weight:700;  }
.sou_box{ width:1030px;float:right;}
.sou_box li{ display:block; float:left; padding-right:40px;}

/*分页*/
.fypage {padding:0px 0px 42px 0px;text-align: center;}
.fypage span {padding: 5px 10px; background: #fff;border: 1px #ccc solid;margin-left: 5px;color: #777;}
.fypage a {padding: 5px 10px;background: #3d9ccc;border: 1px #3d9ccc solid;margin-left: 5px;color: #fff;}
.fypage a.current {padding: 5px 10px;background: #3689b3;margin-left: 5px;color: #fff;}
.fypage a:hover {color: #fff;}

/*培训师*//*培训生*//*培训需求*//*汽车人需求*/
.pxshi_box, .pxsheng_box, .pxxq_box, .qcrxq_box{ padding:1px 0 10px 0;background:#ffffff; margin-bottom:20px;}
.pxshi_box{ color:#ff7d00;}
.pxsheng_box, .unLike i{ color:#3d9ccc;}
.like, .like i{color:#ff7f00}
.pxxq_box{ color:#ff7d00;}
.qcrxq_box{ color:#3d9ccc;}

.pxshi_box h4, .pxsheng_box h4, .pxxq_box h4, .qcrxq_box h4
{ display:block;font-weight:100; height:40px; line-height:40px; font-size:18px;font-weight:700; padding-left:70px;  }
.pxshi_box h4 { border-bottom:2px solid #ff7d00; background:url(../images/pxshi_h4.jpg) no-repeat 15px center;}
.pxsheng_box h4{ border-bottom:2px solid #3d9ccc; background:url(../images/pxsheng_h4.jpg) no-repeat 15px center;}
.pxxq_box h4{ border-bottom:2px solid #ff7d00; background:url(../images/pxxq_h4.jpg) no-repeat 15px center;}
.qcrxq_box h4{ border-bottom:2px solid #3d9ccc; background:url(../images/qcrxq_h4.jpg) no-repeat 15px center;}

.pxshi_box h4 span, .pxsheng_box h4 span, .pxxq_box h4 span, .qcrxq_box h4 span
{ display:block; float:right; padding-right:15px;font-size:14px; font-weight:500;}

.pxshi_box h4 span a,.pxshi_box h4 span a:hover{color:#ff7d00;}
.pxsheng_box h4 span a,.pxsheng_box h4 span a:hover{color:#3d9ccc;}
.pxxq_box h4 span a,.pxxq_box h4 span a:hover{color:#ff7d00;}
.qcrxq_box h4 span a,.qcrxq_box h4 span a:hover{color:#3d9ccc;}

.qcrxq{ padding:5px 0px 0px 15px; height:295px;}
.pxshi{ padding:5px 0px 0px 15px;}
.pxsheng{ padding:5px 0px 0px 20px;}
.pxxq{ padding:5px 0px 0px 15px; height: 295px;}

.xm{ color:#ff7f00; font-size:24px; margin-right:150px;   }
.pl{ color:#ffa757;}
.pxshi_name .pl{font-size:25px;}
.pl span{ color:#818180;}
.dz{ padding-left:35px;font-size:25px;}
.pxshi_r{padding: 5px 0px 0px 20px}
.pxshi_rz li{ display:block; float:left; margin-right:5px; font-size: 25px;}

/*培训需求*/
.pxxq li{
	margin-bottom: 15px;
    margin-left: 2px;
    display: inline-block;
	/*width: 1138px;*/
	height: 120px;
	background: #fffbf8;
	border: 1px solid #e5e5e5;
	padding: 5px;
	position: relative;
	left: 0px;
}
/*.pxxq_l{ width:610px;padding:10px 15px 0x 15px; border-right:1px dotted #e5e5e5;height: 105px;}*/
.zw_name{ font-size:16px; line-height:24px; height:24px; color:#ff7d00; font-weight:700; margin-bottom:8px;}
.dy_box{ height:24px; line-height:24px;margin-bottom:8px; color:#666666;}
.dy_box span{ display:block; float:left; padding:0px 10px; background:url(../images/line2.jpg) no-repeat right center;color:#666666;}
.dy_box span a{color:#666666;}
.dy_box span.cn a,.dy_box span.cn a:hover{color:#ff7d00;}
.fb_box{ height:24px; line-height:24px; font-size:12px; color:#9c9c9c; }
.fb_box a,.fb_box a:hover{color:#9c9c9c;}
.fb_box span{ display:block; float:left; padding:0px 10px; background:url(../images/line2.jpg) no-repeat right center;}


.pxxq_r{ width:490px;/*padding:10px 15px 0px 15px;*/ }
.qy{ height:55px; /*margin-bottom:15px;*/ }
.qy_l{ width:100px; height:50px; border:1px solid #f0f0f0; padding:2px; }
.qy_r{ width:365px;}
.qy_name{ text-align:left; font-size:16px; line-height:24px; height:24px; color:#000;  margin-bottom:4px;}
.qy_name span{ display:block; float:right; font-size:12px; font-weight:100; padding-right:25px;color:#3e9dcb;}
.qy_name span:nth-child(2){color:#3e9dcb; float: left;}


.jyfw{ line-height:24px; height:24px; color:#9c9c9c; font-weight:100}
.jyfw a,.jyfw a:hover{color:#9c9c9c;}
.fl{ }
.fl span{padding:0px 10px; background:#fff6ee; border:1px solid #ffeddc; margin-right:10px; height:24px; line-height:24px; font-size:12px; color:#ff7d00}
.qz, .jz{
	position: absolute;
	right: -1px;
	top: -1px;
	height: 43px;
	width: 41px;
}
.jz{ background: url(../images/jz.gif) no-repeat right top;}

/*汽车人需求*/
.qcrxq li{margin-bottom: 15px;/*width: 1138px;*/height: 135px;background: #f7fcff;border: 1px solid #e5e5e5;}
.qcrxq_l{ width:610px;/*padding:10px 15px 0px 15px;*/ border-right:1px dotted #e5e5e5;height: 105px;}
.qcrxq_zw_name{ font-size:16px; line-height:24px; height:24px; color:#3d9ccc; font-weight:700; margin-bottom:8px;}


.qcrxq_dy_box{ height:24px; line-height:24px;margin-bottom:4px; color:#666666;}
.qcrxq_dy_box span{ display:block; float:left; padding:0px 10px; background:url(../images/line2.jpg) no-repeat right center;color:#666666;}
.qcrxq_dy_box span a{color:#666666;}
.qcrxq_dy_box span.cn a,.dy_box span.cn a:hover{color:#3d9ccc;}
.qcrxq_fb_box{ height:20px; line-height:20px; font-size:12px; color:#9c9c9c; }
.qcrxq_fb_box a,.qcrxq_fb_box a:hover{color:#9c9c9c;}
.qcrxq_fb_box span{ display:block; float:left; padding:0px 10px; background:url(../images/line3.jpg) no-repeat right center;}
.pingpai{height:20px; line-height:20px; font-size:12px;margin-bottom:4px; }
.pingpai em{ float:left;font-style:normal; font-weight:100;}
.pingpai span{ display:block; float:left; margin-right:5px; border:1px solid #bed8e5; height:18px; line-height:18px;padding:0px 10px;}


.qcrxq_r{ width:490px;padding:10px 0px 0x 15px; }
.qcrxq_qy{ height:55px; margin-bottom:15px; }
.qcrxq_qy_l{ width:100px; height:50px; border:1px solid #f0f0f0; padding:2px; }
.qcrxq_qy_r{ width:365px;}
.qcrxq_qy_name{ font-size:16px; line-height:24px; height:24px; color:#000; font-weight:100; margin-bottom:4px;}
.qcrxq_qy_name span{ display:block; float:right; font-size:12px; font-weight:100; padding-right:25px;color:#ff7d00;}
.qcrxq_qy_name span:nth-child(2){color:#ff7d00; float: left;}



.qcrxq_jyfw{ line-height:24px; height:24px; color:#9c9c9c; font-weight:100}
.qcrxq_jyfw a,.qcrxq_jyfw a:hover{color:#9c9c9c;}
.qcrxq_fl{ }
.qcrxq_fl span{padding:0px 10px; background:#e8f6ff; border:1px solid #dceff6; margin-right:10px; height:24px; line-height:24px; font-size:12px; }
.qcrxq_fl span a,.qcrxq_fl span a:hover{color:#3e9dcb;}


/*底部文章*/
.art_box{ /*height:270px;*/background:#f3f1f2; }

/*原创文章 培训学院热点议题*/
.ycwz, .yiti{ width:390px; margin-right:15px;background:#fff;}
.ycwz h4, .yiti h4{ display:block;font-weight:100; height:40px; padding-top:10px; font-size:18px;font-weight:700; padding-left:60px;}
.ycwz h4 span, .yiti h4 span{ display:block; float:right; padding-right:10px; font-size:14px; font-weight:100;}
.ycwz_box, .yiti_box{ padding:5px 10px 10px 10px;}
.ycwz_box li, .yiti_box li{ display:block; height:35px; line-height:35px; background:url(../images/icon.jpg) no-repeat 5px center; border-bottom:1px dotted #bfbfbf; padding-left:14px; font-size:12px;}
.ycwz_box li span, .yiti_box li span{ display:block; float:right; padding-right:5px; color:#b9bdc0;}
.ycwz_box li span a,.ycwz_box li span a:hover, .yiti_box li span a,.yiti_box li span a:hover{ color:#b9bdc0;}

.ycwz h4{ border-bottom:2px solid #ffcf67; background:url(../images/ycwz_h4.jpg) no-repeat 10px center; color:#ffcf67;}
.yiti h4{border-bottom:2px solid #a1c25a; background:url(../images/yiti_h4.jpg) no-repeat 10px center; color:#a1c25a;}
.ycwz h4 span{color:#ffcf67;}
.yiti h4 span{color:#a1c25a;}
.ycwz h4 span a,.ycwz h4 span a:hover{color:#ffcf67;}
.yiti h4 span a,.yiti h4 span a:hover{color:#a1c25a;}


/*底部信息*/
.footer{ width:100%; background:url(../images/footer_bg.jpg) repeat-x left top;height:90px; padding-top:40px;}

.bq{ line-height:24px; color:#888; text-align:center;}


/*freyja add*/
/********************************style for MsgToast**********************************************************/
.toastBox {
    display: none;
    text-align: center;
}

.toastBox .alert {
    position: fixed;
    bottom: 10px;
    font-size: 14px;
    padding: 8px 15px;
}


/***************************************2 row structure********************************************************/
.zp_box {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 15px;
    width: 48%;
    height: 120px;
    /*background: #fffbf8;*/
    border: 1px solid #e5e5e5;
    position: relative;
    left: 0px;
}

.zp_box .qz {
    position: absolute;
    right: -1px;
    top: -1px;
    height: 43px;
    width: 41px;
}

.zp_box_l {
    width: 50%;
    padding: 10px 10px 10px 15px;
    border-right: 1px dotted #e5e5e5;
    height: 105px;
}

.zp_box_l div:nth-child(1) {
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    color: #ff7d00;
    font-weight: 700;
    margin-bottom: 8px;
}
.zp_box_l div:nth-child(2) span, .zp_box_l div:nth-child(3) span {
    display: block;
    float: left;
    padding: 0px 10px;
    background: url(../images/line2.jpg) no-repeat right center;
}
.zp_box_l div:nth-child(2) {
    height: 24px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #666666;
}

.zp_box_l div:nth-child(3) {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #9c9c9c;
}

.zp_box_r {
    width: 49%;
    padding: 10px 5px 10px 5px;
}

.zp_box_r:hover, .praise:hover{
    cursor: pointer;
}

.zp_box_r_l {
    width: 90px;
    height: 90px;
}

.zp_box_r_l img {
    width: 100%;
    height: 100%;
}

.zp_box_r_r {
    width: 165px;
    padding-left: 5px;
}

.zp_box_r_r div:nth-child(1) {
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    color: #3e9dcb;
    /*margin-bottom: 4px;*/
}

.zp_box_r_r div:nth-child(1) span{
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 100;
    padding-right: 20px;
}

.zp_box_r_r div:nth-child(2) {
    line-height: 24px;
    height: 24px;
    color: #9c9c9c;
    font-weight: 100;
    /*margin-*/
}

.zp_box_r_r div:nth-child(3) > div{
    width: 60px;
    display: inline-block;
    margin-bottom: 2px;
    padding: 0px 5px;
    background: #fff6ee;
    border: 1px solid #ffeddc;
    /* margin-right: 10px; */
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #ff7d00;
}

.autoCompany_zp_l {
    width: 65%;
}

.autoCompany_zp_r {
    width: 29%;
}

.autoCompany_zp_r button {
    margin-top: 35px;
    padding: 10px;
    border: none;
    background: #3689b3;
    color: #fff;
}
/***************************************End of two row structure*******************************************************/

/***************************************one box structure**************************************************************/
.oneBox {
    display: block;
    float: left;
    width: 185px;
    background: #faf8f9;
    border: 1px solid #e7e5e5;
    /* padding: 1px; */
    margin-right: 10px;
    margin-bottom: 13px;
}

.oneBox .picContainer {
    width: 183px;
    height: 183px;
}

.oneBox .picContainer img {
    width: 100%;
    height: 100%;
}

.oneBox .intro {
    width: 100%;
    vertical-align: bottom;
    padding: 5px 5px;
}

.oneBox .intro>div:nth-child(1) {
    line-height: 30px;
}

.oneBox .intro>div:nth-child(1) .name{
    float: left;
    font-size: 16px;
    /*margin-right: 50px;*/
}

.oneBox .intro>div:nth-child(1) .right{
    float: right;
    font-size: 12px;
    padding-right: 10px;
}

.oneBox .intro>div:nth-child(2) {
    height: 16px;
    margin: 4px 0;
    font-size: 12px;
}

.oneBox .intro>div:nth-child(3) {
    height: 16px;
}

.oneBox .intro>div:nth-child(3) span{
    display: block;
    float: left;
    margin-right: 2px;
}
/***************************************End One Box structure**************************************************************/

/***************************************Search Box structure*******************************************************/
.searchBox {
    border: 1px solid #e3e3e3;
    background: #f9fbfb;
    padding: 20px;
    height: 100%;
    margin-bottom: 25px;
}

.searchBox .filterType {
    width: 100%;
    font-size: 14px;
    line-height: 30px;
}

.searchBox .filterType .filterName {
    display: block;
    font-size: 14px;
    float: left;
    width: 65px;
    text-align: left;
    line-height: 30px;
    /*padding-left: 30px;*/
    color: #3689b3;
}

.searchBox .filterType .filterItemList{
    float: left;
    width: calc(100% - 65px);
}

.searchBox .filterType .filterItemList > span{
    display: block;
    float: left;
    padding: 0 5px;
    margin: 0 5px 5px 0;
    /*border: #3689b3 solid 1px;*/
}

.searchBox .filterType .filterItemList > input {
    height: 30px;
    font-size: 14px;
    width: 500px;
    border: #3689b3 solid 1px;
    padding-left: 4px;
}

.searchBox .filterType .filterItemList button {
    background: transparent;
    padding: 4px 9px 4px;
    border: #3689b3 solid 1px;
    font-size: 14px;
    line-height: normal;
}

.searchBox .filterType .filterItemList button:hover {
    background: #3689b3;
    color: #fff;
    cursor: pointer;
}

.searchBox .filterType .filterItemList span:hover, .searchBox .filterType .filterItemList .checked {
    background: #3689b3;
    color: #fff;
    cursor: pointer;
}

.searchBox .dropdown {
    display: inline-block;
}

/***************************************End Search Box structure*******************************************************/
.cursorStyle {

}

.cursorStyle:hover {
    cursor: pointer;
}

/*培训领域*//*职位地址*//*培训形式*//*工作性质*//*培训时间*/
.scxs, .zwdz, .pxxs, .gzxz, .pxsj
{ font-size:12px; height:30px; line-height:30px; margin-bottom:5px;}

.scxs h4, .zwdz h4, .pxxs h4, .gzxz h4, .pxsj h4
{ display:block;font-size:12px; float:left; font-weight:100; width:65px; text-align:left; padding-left:30px; color:#3689b3;  }

.scxs_box, .zwdz_box, .pxxs_box, .gzxz_box, .pxsj_box
{ width:1030px;float:right;}

.scxs_box li, .zwdz_box li, .pxxs_box li, .gzxz_box li, .pxsj_box li
{ display:block; float:left; padding-right:40px;}

.scxs h4{ background:url(http://obu3flkwk.bkt.clouddn.com/website/images/scxs.jpg) no-repeat left 2px;}
.zwdz h4{ background:url(http://obu3flkwk.bkt.clouddn.com/website/images/zwdz.jpg) no-repeat left 2px;}
.pxxs h4{ background:url(http://obu3flkwk.bkt.clouddn.com/website/images/pxxs.jpg) no-repeat left 4px;}
.gzxz h4{ background:url(http://obu3flkwk.bkt.clouddn.com/website/images/gzxz.jpg) no-repeat left 2px;}
.pxsj h4{ background:url(http://obu3flkwk.bkt.clouddn.com/website/images/pxsj.jpg) no-repeat left 3px;}
/**
add our css below
*/
.banner {
	height:340px; 
	padding-top:15px; 
	background:url(../images/banner0.jpg) 
	no-repeat 
	center 
	top; 
}
.login-box{  
	margin-left:900px;
	width:300px; 
	padding:10px 20px 15px 20px; 
	background:#383633;
	filter:alpha(opacity=80);   
    -moz-opacity:0.8;   
    -khtml-opacity: 0.8;   
    opacity: 0.8; color:#fff;  
}
.login-box .form-group:nth-child(2){
    margin-bottom: 8px;
}
.login-box button {
    width: 100%;
    font-size: 20px;
    background-color: #ff7d00;
    border: none;
}
.login-box button:hover {
    background-color: #FF4000;
}

.dot-line { 
	height:30px; 
	line-height:30px; 
	margin-bottom:10px; 
	border-bottom:1px 
	dotted #f0f0f0;  
	text-align:left; 
	font-weight:700; 
	color:#fff;
}

.form-group >label {
	padding-right: 0;
	text-align: left;
}

.errMsg {
	display:block; 
	padding-left:10px;
	height: 20px;
	color:#FA5506;
}

#checkeRadio label {
	padding-left: 35px;
	margin-bottom:15px;
}

.register{ 
	width:120px; 
	padding-left:15px;
	height:50px;
	line-height:50px;
}
.register li{ 
	display:block; 
	float:left; 
	width:60px; 
	text-align:center;
	height:50px; 
	line-height:50px; 
	color:#a0a0a0; 
	font-size:12px;
}
.register li a{
	color:#a0a0a0;
}
.register li a:hover{ 
	color:#fff;
}

.forgetPswd a{
    font-size:12px;
    color:#a0a0a0;
}

.forgetPswd a:hover{ 
    color:#fff;
}

.stayTuned{
    color:#ff7d00;
    font-size: 20px;
    height: 450px;
    text-align: center;
    padding-top: 200px;
}

.verCode{
    border:1px solid #e7e6eb; 
    height:30px; 
    line-height:30px; 
    width:120px;
}

.verCodeBtn{
    border:1px solid #e7e6eb; 
    height:30px; 
    line-height:30px; 
    width:120px;
}

.forgetPsd {
    height: 450px;
    background:#fff; 
    padding:80px 200px;
}

.forgetPsd button, #modifyPassword button{
    padding: 5px 20px 5px 20px;
}

.forgetPsd #checkeRadio, .forgetPsd #submit{
    padding:8px 0px 8px;
}

#loginform .forgetPswd {
    padding-bottom: 12px
}

.border {
    width: 550px;
    padding-bottom: 20px;
    border-top: 1px solid #e7e6eb;
}

.forgetPsd .border div:nth-child(1) {
    margin-top: 20px;
} 






